nav {
    display: inline;
  }
     /* unvisited link */
     a:link {
        color: tomato;
    }

    /* visited link */
    a:visited {
        color: tomato;
    }

    /* mouse over element */
    div:hover {
        color: tomato;
    } 

    /* selected link */
    a:active{
        color: #0000FF
    }
    p{font-family:roboto;
}